.box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: auto;
	margin: 30px auto;
	text-align: center;
}

.box2 {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: auto;
	margin: 30px auto;
	text-align: center;
}

body { 
    background: url('mountainruby.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}

h1 {
	color: #009BB0;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

h2 {
	color: #A6DBFF;
	font-family: 'courier new', courier;
	font-weight: 100;
	font-size: 20px;
	margin: 0px;
	text-align: center;
}

h3 {
	color: #E64343;
	font-family: 'courier new', courier;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

p {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
			
}

.navbar {
    margin-bottom: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:0px;
  margin-bottom:15px;
  padding:20px;
}



.navbar-inverse .navbar-brand {
    color: #00B2C9;
    font-family: 'courier new', courier;
    font-size: 24px;
}

.navbar-inverse .navbar-brand:visited {
  color: #00B2C9;
}

.navbar-inverse .navbar-brand:hover {
  color: #00E1FF;
}

.navbar-inverse .navbar-brand:active {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link {
	font-family: 'courier new', courier;
    font-size: 18px;
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:visited {
  color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:hover {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:active {
  color: #00E1FF;
}